.working-area-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.working-area-container {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.pdf-area-button {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--darkBlue);
  color: var(--white);
  border: 2px solid var(--pink);
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  font-weight: 500;
  text-decoration: none;
}

.pdf-area-button:hover {
  background-color: var(--pink);
}

.clear-button {
  padding: 0.5rem;
  background-color: var(--darkBlue);
  color: var(--white);
  border: 2px solid var(--pink);
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.clear-button:hover {
  background-color: var(--pink);
}

.working-area-navs {
  position: absolute;
  bottom: 1%;
  right: 1%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  gap: 1rem;

  z-index: 999;
}

@media screen and (min-width: 1000px) {
  .working-area-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .working-area-container {
    display: flex;
    flex-direction: row;
    border-top-right-radius: 30%;
  }
}

@media screen and (max-width: 1400px) {
  .working-area-container {
    display: flex;
    flex-direction: column;
  }
}
