.cases-section {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

}

.cases-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
}

.cases-content{
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    gap: 3rem;
}

