.hex-canvas{
    width: 50rem;
    padding: 1rem;
}

.hex-canvas path:hover{
    fill: var(--darkBlue);
}

.hex-canvas path{
    fill: var(--white);
    stroke: #121212;
    transition: all .5s ease-in-out;
}