body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.75;
  overflow-x: hidden;

  background-color: var(--darkBlue);
}

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
}

:root {
  --white: #fffafa;
  --pink: #f037a5;
  --blue: #2d46b9;
  --darkBlue: #1e3163;
}

.page-section {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.content-container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-left: 12rem;
}

.content-title {
  color: var(--darkBlue);
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content-subtitle {
  color: var(--darkBlue);
  font-size: 1.5rem;
  border-bottom: 2px solid var(--pink);
  letter-spacing: 1px;
  width: 70%;
}

.content-text {
  color: var(--darkBlue);
  font-weight: 500;
  font-size: 1.2rem;
}
