body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.75;
  overflow-x: hidden;

  background-color: var(--darkBlue);
}

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
}

:root {
  --white: #fffafa;
  --pink: #f037a5;
  --blue: #2d46b9;
  --darkBlue: #1e3163;
}

.page-section {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
}

.content-container {
  padding-top: 2rem;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
}

.content-title {
  color: var(--darkBlue);
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content-subtitle {
  color: var(--darkBlue);
  font-size: 1.5rem;
  border-bottom: 2px solid var(--pink);
  letter-spacing: 1px;
}

.content-text {
  color: var(--darkBlue);
  font-weight: 500;
  font-size: 1.2rem;
}

.menu-btn {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;

  padding: 0.5rem;
  background-color: var(--darkBlue);
  color: var(--white);
  border: 2px solid var(--pink);
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;

  z-index: 99;
}

.menu-btn:hover {
  background-color: var(--pink);
}

@media screen and (min-width: 1000px) {
  .menu-btn {
    display: none;
  }
}

@media print {
  .menu-btn {
    display: none !important;
  }
}